<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Autocomplete Search Box | CodingNepal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <div class="wrapper">
      <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input type="text" placeholder="Type to search..">
        <div class="autocom-box">
          <!-- here list are inserted from javascript -->
        </div>
        <div class="icon"><i class="fas fa-search"></i></div>
      </div>

      <input type="checkbox" id="Linkedin">
      <label for="Linkedin" class="website_name"> Linkedin</label>

      <input type="checkbox" id="Indeed">
      <label for="Indeed" class="website_name"> Indeed</label>

    </div>

    
    <script src="{{ url_for('static', filename='js/suggestions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>



  </body>
</html>
